<input type="text" id="searchBox" placeholder="Cerca nella pagina..." onkeyup="filterSections()">

<strong>Indice</strong>
<a href="index.html" data-root-link="index.html">Home</a>
<a href="cnc/tnc640.html" data-root-link="cnc/tnc640.html">ESEMPIO</a>
<a href="files/zeiss.html" data-root-link="files/zeiss.html">ZEISS - MISURA</a>
<a href="files/carico_scarico.html" data-root-link="files/carico_scarico.html">STAZIONE C/S</a>

<hr>

<strong>Cartelle</strong>
<a href="#" onclick="return false;">immagini/</a>
<a href="#" onclick="return false;">pdf/</a>

<hr>

<strong>Allegati</strong>
<a href="allegati/2026.05.08 Codice Colore Pallet.pdf" data-root-link="allegati/2026.05.08 Codice Colore Pallet.pdf">2026.05.08 Codice Colore Pallet.pdf</a>
<a href="allegati/2026.05.11 Messaggi Trace.pdf" data-root-link="allegati/2026.05.11 Messaggi Trace.pdf">2026.05.11 Messaggi Trace.pdf</a>
<a href="allegati/chr.pdf" data-root-link="allegati/chr.pdf">elenco campi chr.txt</a>
<a href="allegati/chr.txt" data-root-link="allegati/chr.txt">chr.txt</a>
